# Virtual environments
venv/
.venv/

# Environment files
.env
/.env

# Python
__pycache__/
*.py[cod]
*.pyo

# SQLite DB
database.sqlite

# Test / cache
.pytest_cache/

# Editors
.vscode/
.DS_Store
*.swp

# OS
Thumbs.db

# Node
node_modules/

# Logs
*.log